@import '../styles/variables';

.peoplePickerWrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 2rem;
  font-size: $font-size-input;
  line-height: 1.5;
  color: $gray-900;
  background-color: $off-white;
  border: 1px solid $gray-200;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease;
  box-sizing: border-box;
  align-items: center;

  &:hover:not(:focus-within) {
    border-color: $gray-300;
  }

  &:focus-within {
    outline: none;
    border-color: $primary;
    box-shadow: 0 0 0 3px rgba($primary, 0.1);
  }

  :global {
    // Main picker root
    .ms-BasePicker {
      width: 100%;
      height: 100%;
    }

    // Input wrapper - this is the element that gets the blue border
    .ms-BasePicker-text {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      min-height: 0;
      padding: 0 0.5rem;
      border: none;
      border-radius: 0;
      background-color: transparent;

      // Remove focus styles completely
      &::after {
        content: none;
        display: none;
      }

      &:focus,
      &:hover,
      &:active,
      &:focus-within {
        border: none;
        outline: none;
        background-color: transparent;
      }
    }

    // Input element
    .ms-BasePicker-input {
      width: 100%;
      height: 100%;
      min-width: 0;
      padding: 0;
      margin: 0;
      border: none;
      background-color: transparent;
      color: $gray-900;
      font-size: $font-size-input;

      &::placeholder {
        color: $gray-400;
      }

      &:focus {
        outline: none;
      }
    }

    // Items wrapper (contains selected personas)
    .ms-BasePicker-itemsWrapper {
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      max-width: 100%;
    }

    // Selected persona container (the pill)
    .ms-PickerPersona-container {
      display: inline-flex;
      align-items: center;
      height: 1.375rem;
      max-height: 1.375rem;
      margin: 0 0.25rem 0 0;
      padding: 0 0.125rem 0 0.25rem;
      background-color: $gray-100;
      border: none;
      border-radius: 0.25rem;
      overflow: hidden;

      &:hover {
        background-color: $gray-200;
      }
    }

    // Persona component inside picker
    .ms-Persona {
      height: 1.25rem;
      min-width: 0;
    }

    .ms-Persona-coin {
      width: 1.125rem;
      height: 1.125rem;
      margin-right: 0.25rem;
    }

    .ms-Persona-imageArea {
      width: 1.125rem;
      height: 1.125rem;
    }

    .ms-Persona-initials {
      width: 1.125rem;
      height: 1.125rem;
      line-height: 1.125rem;
      font-size: 0.5rem;
    }

    .ms-Persona-details {
      padding: 0;
      line-height: 1.25rem;
    }

    .ms-Persona-primaryText {
      font-size: $font-size-input;
      line-height: 1.25rem;
      color: $gray-900;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    // Remove button
    .ms-PickerItem-removeButton {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.125rem;
      height: 1.125rem;
      min-width: 1.125rem;
      padding: 0;
      margin: 0;
      border: none;
      background: transparent;
      color: $gray-500;
      cursor: pointer;
      flex-shrink: 0;

      &:hover {
        color: $gray-900;
        background: transparent;
      }

      i {
        font-size: 0.625rem;
      }
    }

    // Hide secondary text in compact view
    .ms-Persona-secondaryText {
      display: none;
    }
  }
}
