@import '../../styles/variables';

.dialogPage {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-8;
  background-color: $gray-50;
}

.successIcon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #10b981;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: $spacing-6;

  i {
    font-size: 2.5rem;
    color: $white;
    font-weight: $font-weight-bold;
  }
}

.dialogContent {
  width: 300px;
  text-align: center;

  .bodyText {
    margin: 0 0 $spacing-8 0;
    font-size: $font-size-base;
    line-height: 1.6;
    color: $gray-700;
  }

  .projectInfo {
    margin-top: $spacing-8;
    text-align: left;
    width: 100%;
  }

  .infoRow {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-6;
    gap: $spacing-2;

    &:last-child {
      margin-bottom: 0;
    }

    .label {
      font-weight: $font-weight-semibold;
      color: $gray-700;
      font-size: $font-size-sm;
      text-align: center;
    }

    .value {
      color: $gray-700;
      font-size: $font-size-base;
      text-align: center;
      color: $primary
    }
  }
}

