@import './variables';

.customCalendarWrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;

  .calendarIcon {
    position: absolute;
    left: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $gray-400;
    pointer-events: none;
    z-index: 1;
    flex-shrink: 0;

    svg {
      width: 16px;
      height: 16px;
    }
  }

  .customCalendarInput {
    display: flex;
    width: 100%;
    height: 2rem;
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: $font-size-input;
    line-height: 1.5;
    color: $gray-900;
    background-color: $off-white;
    border: 1px solid $gray-200;
    border-radius: 0.5rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    box-sizing: border-box;

    &::placeholder {
      color: $gray-400;
    }

    &:hover:not(:disabled) {
      border-color: $gray-300;
    }

    &:focus {
      outline: none;
      border-color: $primary;
      box-shadow: 0 0 0 3px rgba($primary, 0.1);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
      background-color: $gray-50;
    }
  }

  &.calendarDisabled {
    .customCalendarInput {
      cursor: not-allowed;
      opacity: 0.5;
      background-color: $gray-50;
    }
  }
}

