@import './Variables.module.scss';

.formFieldWrapper {
  position: relative;
  width: 100%;
  min-width: 0;
  display: flex;
  align-items: center;
  gap: $spacing-2;

  .inputWithTooltip {
    display: flex;
    align-items: center;
    gap: $spacing-2;
    width: 100%;
    min-width: 0;
    flex: 1;

    > * {
      flex: 1;
      width: 100%;
    }

    .tooltipIcon {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: 50%;
      background-color: $gray-200;
      cursor: help;
      flex-shrink: 0;

      i {
        font-size: 0.75rem;
        color: $gray-600;
      }

      &:hover {
        background-color: $gray-300;
        
        i {
          color: $gray-700;
        }
      }
    }
  }
}

