@import './variables';
@import './mixins';
@import './form-field-wrapper';

.form {
  padding: $spacing-2 0;
  
  > * + * {
    margin-top: 0;
  }

  // Custom components are styled in their own SCSS files
  // This section ensures proper spacing and layout within forms
}

.form-section {
  border-bottom: 1px solid $gray-200;
  padding-bottom: $spacing-6;
  margin-bottom: $spacing-6;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-4;
    text-align: left;
    color: $gray-900;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-4 $spacing-6;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &.three-columns {
    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .form-field {
    min-width: 0;
    width: 100%;
  }
}

.form-field {
  label {
    display: block;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $gray-900;
    margin-bottom: $spacing-2;
  }

}

.form-actions {
  @include flex-between;
  padding-top: $spacing-4;

  .action-group {
    display: flex;
    gap: $spacing-3;
    align-items: center;

    .attach-file-link {
      background: none;
      border: none;
      color: $blue-600;
      text-decoration: none;
      @include flex-center;
      gap: $spacing-1;
      cursor: pointer;
      padding: 0;
      font-size: inherit;

      &:hover {
        color: $blue-800;
      }
    }
  }
}

.full-width {
  width: 100%;
}

.col-span-2 {
  @media (min-width: $breakpoint-md) {
    grid-column: span 2;
  }
}

.col-span-full {
  @media (min-width: $breakpoint-md) {
    grid-column: 1 / -1;
  }
}

