@import './variables';
@import './mixins';
@import './form-field-wrapper';

.form {
  padding: $spacing-2 0;
  
  > * + * {
    margin-top: 0;
  }

  .p-inputtext,
  .p-inputtextarea,
  .p-calendar input,
  .p-dropdown {
    background-color: $white;
    border: 1px solid $gray-200;
    border-radius: 0.625rem;
    box-shadow: inset 0 1px 2px rgba(15, 23, 42, 0.04);
    color: $gray-900;
    font-size: $font-size-base;
    transition: border-color 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    box-sizing: border-box;
  }

  .p-inputtext:focus,
  .p-inputtextarea:focus,
  .p-calendar input:focus,
  .p-dropdown:not(.p-disabled):hover,
  .p-dropdown.p-focus {
    border-color: $blue-600;
    box-shadow: 0 0 0 2px rgba($blue-600, 0.15);
    outline: none;
  }

  .p-dropdown {
    display: flex;
    align-items: center;
    
    .p-dropdown-label {
      padding: 0.5rem 0.75rem;
      padding-right: 0;
      flex: 1;
      border: none !important;
      background: transparent !important;
    }

    .p-dropdown-trigger {
      width: auto;
      min-width: 2.5rem;
      border: none !important;
      background: transparent !important;
      border-left: none !important;
      padding: 0 $spacing-3;
      color: $gray-400;
      
      .p-dropdown-trigger-icon {
        color: $gray-400;
        font-size: 0.875rem;
      }
    }

    &:not(.p-disabled):hover .p-dropdown-trigger,
    &.p-focus .p-dropdown-trigger,
    &:not(.p-disabled):hover,
    &.p-focus {
      border-left: none !important;
    }

    .p-dropdown-clear-icon {
      color: $gray-400;
      margin-right: $spacing-1;
    }
  }

  .p-inputtextarea {
    min-height: 4.5rem;
  }

  .p-input-icon-right,
  .p-input-icon-left {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $spacing-1;
    padding: 0 $spacing-3;
    border: 1px solid $gray-200;
    border-radius: 0.625rem;
    background-color: $white;
    box-shadow: inset 0 1px 2px rgba(15, 23, 42, 0.04);
    box-sizing: border-box;

    .pi {
      color: $gray-400;
      font-size: 0.875rem;
    }

    input,
    .p-inputtext {
      border: none !important;
      box-shadow: none !important;
      background-color: transparent !important;
      padding-left: 0;
      padding-right: 0;
    }

    &:focus-within {
      border-color: $blue-600;
      box-shadow: 0 0 0 2px rgba($blue-600, 0.15);
    }
  }
}

.form-section {
  border-bottom: 1px solid $gray-200;
  padding-bottom: $spacing-6;
  margin-bottom: $spacing-6;

  &:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-4;
    text-align: left;
    color: $gray-900;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-4 $spacing-6;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: $breakpoint-lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  &.three-columns {
    @media (min-width: $breakpoint-md) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }

  .form-field {
    min-width: 0;
    width: 100%;
  }
}

.form-field {
  label {
    display: block;
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
    color: $gray-900;
    margin-bottom: $spacing-2;
  }

}

.form-actions {
  @include flex-between;
  padding-top: $spacing-4;

  .action-group {
    display: flex;
    gap: $spacing-3;
    align-items: center;

    .attach-file-link {
      background: none;
      border: none;
      color: $blue-600;
      text-decoration: none;
      @include flex-center;
      gap: $spacing-1;
      cursor: pointer;
      padding: 0;
      font-size: inherit;

      &:hover {
        color: $blue-800;
      }
    }
  }
}

.full-width {
  width: 100%;
}

.col-span-2 {
  @media (min-width: $breakpoint-md) {
    grid-column: span 2;
  }
}

.col-span-full {
  @media (min-width: $breakpoint-md) {
    grid-column: 1 / -1;
  }
}

