@import './Variables.module.scss';

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin grid-responsive($cols: 1, $gap: $spacing-4) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $gap;

  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat($cols, 1fr);
  }
}

