@import './variables';

// PrimeReact Input Styling - shadcn style
.p-inputtext,
.p-inputtextarea,
.p-calendar input {
  font-size: $font-size-xs !important;
  padding: 0.5rem 0.75rem !important;
  background-color: $white !important;
  border: 1px solid $gray-300 !important;
  border-radius: 0.375rem !important;
  color: $gray-900 !important;
  width: 100% !important;
  height: auto !important;
  min-height: 2rem !important;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;

  &:focus {
    outline: none !important;
    border-color: $blue-600 !important;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    background-color: $white !important;
  }

  &::placeholder {
    color: $gray-600 !important;
  }

  &:hover:not(:focus) {
    border-color: $gray-400 !important;
    background-color: $white !important;
  }
}

.p-inputtextarea {
  resize: vertical !important;
  min-height: 4rem !important;
}

.p-calendar {
  width: 100% !important;

  input {
    width: 100% !important;
  }
}

