@import './Variables.module.scss';

.stepTwoForm {
  padding: $spacing-6;

  h2 {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-4;
  }

  p {
    color: $gray-600;
  }
}

