@import '../../styles/variables';
@import '../../styles/mixins';

.tabView {
  width: 100%;
}

.tabHeaders {
  display: flex;
  width: 100%;
  margin-bottom: $spacing-6;
  border-bottom: 1px solid $gray-200;
}

.tabButton {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: $spacing-3 $spacing-4;
  transition: all 0.2s;
  border: none;
  background: $gray-100;
  border-top: 3px solid $gray-300;
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:not(:disabled):hover {
    background-color: $gray-50;
  }

  &.active {
    background-color: $white;
    border-top: 3px solid $primary;
  }

  &.completed {
    background-color: $white;
    border-top: 3px solid #10b981; // green-500
  }

  .tabContent {
    display: flex;
    align-items: flex-start;
    gap: $spacing-3;
    width: 100%;
    flex-direction: row;

    i {
      font-size: $font-size-xl;
      flex-shrink: 0;
      margin-top: $spacing-1;
    }

    &.active i {
      color: $primary;
    }

    .tabHeaderText {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: $spacing-1;
      text-align: left;
    }

    .tabTitle {
      font-size: $font-size-base;
      font-weight: $font-weight-bold;
      line-height: 1.3;
      color: $gray-900;
      text-align: left;
    }

    .tabSubtitle {
      font-size: $font-size-xs;
      font-weight: $font-weight-normal;
      line-height: 1.4;
      color: $gray-600;
      text-align: left;
    }

    &.active .tabTitle {
      color: $gray-900;
    }

    i.pi-circle-fill {
      color: $primary;
    }

    &.completed i.pi-circle-fill {
      color: #10b981 !important; // green-500
    }
  }
}

.tabPanelContent {
  width: 100%;
}

